<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>

	<!--DB configuration-->
	<connectionStrings>
		<add name="YOUR CONFIGURATION NAME" connectionString="Data Source=YOUR DATASOURCE;Initial Catalog=YOUR DB;User Id=YOUR USERNAME;Password=YOUR PASSWORD;Application Name=YOUR APPLICATION;" />
	</connectionStrings>

	<!--SMTP Configuration-->
	<system.net>
		<mailSettings>
			<smtp from="YOUR FROM MAIL">
				<network host="YOUR HOST" userName="YOUR USERNAME" password="YOUR PASSWORD" enableSsl="TRUE" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>